<?php
include 'header.phtml';
?>
      <div id="orangerow">
          
          <div class="nav">
              <h2 id="categories">Категории</h2>
              <ul>
                  <li><a href="http://www.freewebsitetemplates.com">Biography</a></li>
              </ul>
          </div><!-- end .nav -->
          
          <div class="col">
              <div id="authormonth">
                  <h2><img src="/images/title_author_of_the_month.gif" width="137" height="15" alt="author of the month" /></h2>
                  <p>Don't forgot to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add at least one free website template daily.</p>
				
			
                  <img src="/images/picture_1.jpg" width="71" height="133" alt="Woman reading a book" class="left" />
                 	<p>This is a template designed by free website templates for you for free you can replace all the text by your own 
				text. This is just a place holder so you can see how the site would look like.</p> 
				
			
                  <p class="readmore"><a href="http://www.freewebsitetemplates.com">read more</a></p>
              </div><!-- end authormonth -->
              <div id="bookmonth">
                  <h2><img src="/images/title_book_of_the_month.gif" width="125" height="15" alt="book of the month" /></h2>
                  <img src="/images/picture_3.jpg" width="57" height="85" alt="dog books" class="left" />
                	<p>You can remove any link to our websites from this template you're  free to use the template without linking 
				back to us. Don't want your boss to know you used a free website template ;) .</p>
				
				<p>If you're having problems editing the template please don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">forum</a>.</p>
				
				
                  <p class="readmore"><a href="http://www.freewebsitetemplates.com">read more</a></p>
              </div><!-- end bookmonth -->
          </div><!-- end .col -->
          <div id="whitey"></div>
          <div class="clear"><div class="fix"></div></div>
      </div><!-- end orangerow -->
      
      <div id="greenrow">
          
          <div class="nav">
              <h2 id="discounts"></h2>
          </div><!-- end .nav -->
          
          <div class="col">
              <h2><img src="/images/title_book_review.gif" width="94" height="18" alt="book review" /></h2>
              <img src="/images/picture_2.jpg" width="79" height="83" alt="Psycho book cover" class="left" />
            <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
				<p>To find great hosting providers visit <a href="http://www.webhostingzoom.com">Web Hosting Zoom</a></p>
              <p class="readmore"><a href="http://www.freewebsitetemplates.com">read more</a></p>
                    
              <div class="divider2"></div>
          
              <h2><img src="/images/title_books_to_come.gif" width="101" height="14" alt="books to come" /></h2>
              <table summary="book list" class="books" cellspacing="4" cellpadding="0">
                  <tr>
                      <td><a href="http://www.freewebsitetemplates.com">Ghosts of darkness</a></td>
                      <td><a href="http://www.freewebsitetemplates.com">Fifteen</a></td>
                  </tr>
                  <tr>
                      <td><a href="http://www.freewebsitetemplates.com">New age</a></td>   
                      <td><a href="http://www.freewebsitetemplates.com">Quick fox</a></td>
                  </tr>
                  <tr>
                      <td><a href="http://www.freewebsitetemplates.com">Disgrace</a></td>
                      <td><a href="http://www.freewebsitetemplates.com">Unveil</a></td>
                  </tr>
              </table>
             <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
          </div>
          <div class="clear"></div>
      </div><!-- end greenrow -->
      
      <div id="footer">
          <div id="footeri">
              <span class="copyright">Powered by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a></span> 
              <a href="http://www.freewebsitetemplates.com">bestsellers</a> &nbsp;
              <a href="http://www.freewebsitetemplates.com">magazines</a> &nbsp;
              <a href="http://www.freewebsitetemplates.com">e-books</a> &nbsp;
              <a href="http://www.freewebsitetemplates.com">contact</a> &nbsp;
          </div><!-- end footeri -->
      </div><!-- end footer -->
  </div><!-- end wrapper -->
</body>
</html>
